

.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 19rem;
    max-height: 20rem;
    overflow: auto;  
}

@media (min-width: 700px) {
    .cart-items {
      width: 33rem;
    }
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0rem 1rem 0;
}

@media (min-width: 700px) {
    .total {
        margin: 1rem 3rem 1rem 0;
    }
}

.actions {
    display: flex;
    justify-content: space-evenly;
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: var(--clr-darkgreen);
    border: 1px solid var(--clr-darkgreen);
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: var(--clr-lightgreen);
    border-color: var(--clr-lightgreen);
    color: white;
}

.actions .button--alt {
    color: white;
}

.actions .button {
    background-color: var(--clr-darkgreen);
    color: white;
}

.success {
    font-size: 1.2rem;
}