
.summary {
    width: 30%;
    background-color: var(--clr-light-gray);
    padding: 3rem;
    height: auto;
}
  
.summary h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 4rem;
}

.summary p {
    font-size: 1.5rem;
}

.summary div {
    border-bottom: 1px solid rgb(225, 222, 222);
}