
.summary {
    width: 30%;
    background-color: var(--clr-light-gray);
    padding: 3rem;
    height: auto;
}
  
.summary h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--clr-darkgreen);
}

.summary p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

.summary div {
    border-bottom: 1px solid var(--clr-darkgreen);
}