.skip-to-content {
  position: absolute;
  z-index: 9999;
  background-color: var(--clr-yellow);
  color: black; 
  font-weight: 600;
  padding: .5em 1em;
  margin-inline: auto;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translate(40%, 200%);
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.topper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--clr-lightgray);
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 1rem;
  z-index: 10;
}


.topper--slogan {
 text-align: left;
 font-size: 1.2rem;
 font-family: "EB Garamond";
 color: black;
}


@media (min-width: 500px) {
  .topper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-inline: 2rem;
    z-index: 10;
  }

  .topper--slogan {
    font-size: 1.7rem;
    letter-spacing: 1.2;
    
  }
}

@media (min-width: 800px) {
  .topper {
    padding-inline: 5%;
  }
}

.navbar {
  position: relative;
  height: 6rem;
  background-color: white;
  z-index: 10;
}

.navbar h1{
  font-size: 1.7rem;
}

@media (min-width: 500px) {
  .navbar h1{
    font-size: 2.2rem;
    letter-spacing: -1px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 800px) {
  .navbar {
    height: 8rem;
    padding-bottom: 2rem;
    padding-top: 2rem;

  }
}


.nav-links {
  width: 100%;
  display: flex;
  /* align-items: end; */
  justify-content: space-between;
  padding-inline: 2rem;
}

@media (min-width: 800px) {
  .nav-links {
    max-width: 90%;
    margin-inline: auto;
    display: flex;
    padding-inline: 0;
    align-items:end;
    justify-content: space-between;
  }
}


.hero {
  position: relative;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--clr-lightgray);
}

@media (min-width: 500px) {
  .hero {
    margin-top: 10rem;
  }
}

.hero--image {
  width: 100%;
  height: 300x;
}
  
.hero--image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.hero--hours {
  width: 100%;
  background-color: var(--clr-light-gray);
  padding: 2rem;
  height: auto;
  margin-top: -0.5rem;
}

.hero--hours h2 {
  font-size: 1.6rem;
  letter-spacing: 1.4;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--clr-darkgreen);
}

.hero--hours--blurb {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.hero--hours div {
  border-bottom: 1px solid var(--clr-darkgreen);
} 

@media (min-width: 500px) {
  .hero--hours h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 800px) {
  .hero {
    margin-top: 12rem;
    margin-bottom: -0.5rem;
    display: flex;
    flex-direction: row;
  }
  
  .hero--image {
    width: 65%;
    height: auto;
    overflow: hidden;
  }
    
  .hero--image img {
    width: 100%;
    object-fit: cover;
  }
  
  .hero--hours {
    width: 35%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: auto;
  }
  
  .hero--hours h2 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .hero--hours--blurb {
    display: none;
  }
}

@media (min-width: 1000px) {
  .hero--hours {
    padding-top: 2rem;
  }

  .hero--hours h2 {
    margin-block: 0.5rem;
  }

  .hero--hours p {
    font-size: 1.1rem;
  }

  .hero--hours--blurb {
    display: block;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .hero {
    max-width: 90%;
    margin-inline: auto;
  }

  .hero--image {
    width: 70%;
  }

  .hero--hours {
    width: 30%;
    margin-top: 0;
    padding-inline: 3rem;
    padding-top: 2rem; 
  }

  .hero--hours p {
    font-size: 1.2rem;
  }

  .hero--hours--blurb {
    margin-top: 2rem;
    font-size: 1.1rem !important;
  }
}



.independent {
  display: none;
}

@media (min-width: 800px) {
  .independent {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:start;
    padding-top: 0.5rem;
    padding-inline: 3rem;
    margin-top: -1rem;
    position: relative;
    z-index: 5;
  }

  .independent h3 {
    font-size: 1.6rem;
    letter-spacing: 1.7;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }
}

@media (min-width: 1280px) {
  .independent {
    max-width: 90%;
    margin-inline: auto;
    padding-inline: 0;
  }
}


.onbikes {
  background-color: var(--clr-yellow);
  width: 100%;
  padding: 2rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onbikes h3 {
  font-size: 1.8rem;
}

.onbikes p {
  font-size: 1.3rem;
}

.onbikes--image {
  width: 100%;
  display: flex;
  align-items: center;
}

.onbikes--image img {
  width: 100%;
  height: auto;
}

.onbikes--text-note {
  margin-top: 1rem;
}


@media (min-width: 800px) {
  .onbikes {
    width: 100%;
    padding: 2rem;
    padding-inline: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .onbikes--text {
    padding: 0;
    margin-left: 0;
  }

  .onbikes--text h3 {
    font-size: 1.6rem;
  }
  
  .onbikes--text p {
    font-size: 1.1rem;
  }
  
  .onbikes--image {
    width: 30rem;
    margin-right: 3rem;
    display: flex;
    align-items: center;
  }
  
  .onbikes--text-note {
    margin-top: 2rem;
  }
}


@media (min-width: 1280px) {  

  .onbikes--text {
    padding: 2rem;
    margin-left: 1rem;
  }

  .onbikes--text h3 {
    font-size: 1.8rem;
  }
  
  .onbikes--text p {
    font-size: 1.1rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}




