.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: var(--clr-darkgreen);
    color: white;
    padding: 0.75rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-weight: bold;
    /* width: 100%; */
  }
  
  .button:hover,
  .button:active {
    background-color: var(--clr-lightgreen);
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    /* margin-right: 0.5rem; */
  }
  
  .badge {
    border-radius: 25px;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    font-weight: bold;
    background-color: black;
    padding: 0.5rem;
  }
  

  
  