.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: var(--clr-darkgreen);
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: var(--clr-lightgreen);
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
  
  .badge {
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
  

  
  