

.booksList {
    /* max-width: 90%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    list-style: none;
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 6rem;
    margin-top: -0.05rem;
    margin-inline: -1rem;
    animation: books-appear 1s ease-out forwards;
}

.BooksLoading {
  text-align: center;
  color: white;
}

.BooksError {
  text-align: center;
  color: red;
}
  
@keyframes books-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}