

/* books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
    animation: books-appear 1s ease-out forwards;
} */

.books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
    margin-top: 57px;
  }
  
.books ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes books-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}