* {
  box-sizing: border-box;
}

:root {
  --clr-light-gray: #f0f0ea;
  --clr-yellow: #eab92d;
}

body {
  margin-inline: auto;
}

#root {
  margin: 0 auto;
}

main {
  margin-inline: auto;
  background-color: var(--clr-light-gray);
}

.books {
  max-width: 50rem;
  margin-inline: auto;
}

.yellow {
  background-color: var(--clr-yellow);
}







