* {
  box-sizing: border-box;
}

:root {
  --clr-light-gray: #f0f0ea;
  --clr-yellow: #eab92d;
  --clr-lightgreen: #17805f;
  --clr-darkgreen: #224c4b;
}

body {
  margin-inline: auto;
}

#root {
  margin: 0 auto;
}

main {
  /* max-width: 90%; */
  margin-inline: auto;
  padding-inline: 5%;
  background-color: var(--clr-light-gray);
}


.yellow {
  background-color: var(--clr-yellow);
}







