.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 10rem;
    margin-inline: auto;
    padding-bottom: 1rem;
    width: 95%;
    height: 30rem;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
}

.cover {
    width: 100%;
    height: 30rem;
    background-color: rgb(189, 187, 187);
    margin-bottom: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover img {
    max-height: 70%; 
    width: auto;
    object-fit: contain;  
    margin-inline: auto;
}
  
.book h3 {
    margin: 0 0 2rem 0;
    letter-spacing: 1.2;
    font-size: 1.4rem;
}
  
.author {
    margin-top: 0.25rem;
    color: var(--clr-darkgreen);
    font-size: 1.2rem;
    letter-spacing: 1.1;
    margin-bottom: 1.5rem;
}

.price {
    font-weight: bold;
    margin-bottom: 1rem;
}


@media (min-width: 500px) {
    .book {
        width: 85%;
        margin-inline: auto;
        margin-bottom: 4rem;
        height: 40rem;
    }
    
    .cover {
        width: 100%;
        height: 30rem;
        margin-inline: auto;
        margin-bottom: 1rem; 
    }
    
    .cover img {
        max-height: 90%; 
        width: auto;
        object-fit: contain;  
        margin-inline: auto;
    }
}


@media (min-width: 700px) {
    .book {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-inline: 1rem;
        margin-top: 5rem;
        margin-bottom: 11rem;
        padding-bottom: 1rem;
        height: 20rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    }
    
    .cover {
        width: 100%;
        height: 20rem;  
        margin-bottom: 1rem; 
    }
    
    .cover img {
        max-width: 60%;
        max-height: auto; 
    }
}

@media (min-width: 800px) {
    .book h3 {
        font-size: 1.3rem;
    }

    .author {
        font-size: 1.1rem;
        letter-spacing: 1;
    }
}